/*
** Variables for colors, font family, etc. for changing things easily! :)
*/

/* FONT  -- link in application.html.erb head */
$font: 'Roboto', sans-serif;

/* COLORS */
$bg-color: #313A41; // grey/blue -- background color
$txt-color: #69B9C1; //teal blue -- text color
