    <h1 class="opacity-80 txt-center"><a href="/">Matt Chupp</a></h1>
    <h2 class="opacity-60 txt-center">Designer &amp; Developer</h2>


    <article>
      <div class="type lh-15">
        <p>
          Hello, I am a
          <a href="https://www.behance.net/mattchupp" target="_blank">designer</a>
          and developer who enjoys
          <a href="http://github.com/mattchupp" target="_blank">writing code</a>
          and making things for the web. I am very intrigued by
          <a href="http://codepen.io/mattchupp/" target="_blank">CSS</a>
          and typography. You can find me on the web
          <a href="http://twitter.com/mattchupp" target="_blank">tweeting</a>
          and taking <a href="http://instagram.com/mattychupp" target="_blank">photos</a>.
        <br /> <br />
          If you're interested, you can check out some of my
          <a href="projects">projects</a>
          or take a peek at my
          <a href="/resume.pdf" target="_blank">resume</a>.
        </p>
      </div>
    </article>
