    <h1><a href="/">Matt Chupp</a></h1>
    <h2>Designer &amp; Developer</h2>


    <article>
      <div class="type sm-flex flex-auto">
        <p>
          Hello, I am a
          <a href="https://www.behance.net/mattchupp" target="_blank">designer</a>
          and developer who enjoys
          <a href="http://github.com/mattchupp" target="_blank">writing code</a>
          and making things for the web. When I am not writing code,
          I play guitar and catch up on my favorite shows. You can also find me 
          on the web
          <a href="http://twitter.com/mattchupp" target="_blank">tweeting</a>
          and taking <a href="http://instagram.com/mattychupp" target="_blank">photos</a>.
        <br /> <br />
          If you're interested, you can check out some of my
          <a href="projects">projects</a>
          or take a peek at my
          <a href="/resume.pdf" target="_blank">resume</a>.
        </p>
      </div>
    </article>
