    <h1><a href="/">Matt Chupp</a></h1>
    <h2>Designer &amp; Developer</h2>


    <article>
      <div class="type sm-flex flex-auto">
        <p>
          Hello, I am a
          <a href="https://www.behance.net/mattchupp" target="_blank">designer</a>
          and developer who enjoys
          <a href="http://github.com/mattchupp" target="_blank">writing code</a>
          and making things for the web. I spend my free time playing guitar and
          learning how to be a better programmer. I also like to
          <a href="http://twitter.com/mattchupp" target="_blank">tweet</a>
          and take <a href="http://instagram.com/mattychupp" target="_blank">photos</a>.
        <br /> <br />
          If you're interested, you can check out some of my
          <a href="projects">projects</a>
          or take a peek at my
          <a href="/resume.pdf" target="_blank">resume</a>.
        </p>
      </div>
    </article>
