<!DOCTYPE html>
<html>
<head>

  <title>Matt Chupp | Designer &amp; Developer</title>
  <meta name=viewport content="width=device-width, initial-scale=1">

  <!-- link to basscss -->
  <!-- <link href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css" rel="stylesheet"> -->
  <link href="framework.css" rel="stylesheet">
  <!-- link to main stylesheet -->
  <link href="assets/application.css" rel="stylesheet">

</head>
<body>
  <div class="hw-100 bg-red-gradient">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
<!-- <footer>
  <p>&copy; <%= Time.now.year %> Matt Chupp</p>
</footer> -->
</html>
