<!DOCTYPE html>
<html>
<head>

  <title>Matt Chupp | Designer &amp; Developer</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
 
 <!-- link to google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
  <!-- link to basscss -->
  <link href="https://npmcdn.com/basscss@8.0.1/css/basscss.min.css" rel="stylesheet">
  <!-- link to main stylesheet -->
  <link href="assets/application.css" rel="stylesheet">

</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
<!-- <footer>
  <p>&copy; <%= Time.now.year %> Matt Chupp</p>
</footer> -->
</html>
