    <h1 class="opacity-80 txt-center"><a href="/">Matt Chupp</a></h1>
    <h2 class="opacity-60 txt-center">Designer &amp; Developer</h2>


    <div class="flex d-column">
      <p class="type">Here are a few of the things I have worked on:</p>
      <div class="project self-start project-description">
        <p><a href="http://nicandcynthia.com" target="_blank">Nic &amp; Cynthia</a>
          <span class="opacity-60">&#47;&#42;Wedding Website&#42;&#47;</span></p>
      </div>
      <!-- <br />
      <div class="project self-start">
        <h3><a href="thecolor.html" target="_blank">The Color</a></h3>
        <p class="project-type">Webpage that changes background color based on what time it is.</p>
      </div> -->
    </div>
