    <h1><a href="/">Matt Chupp</a></h1>
    <h2>Designer &amp; Developer</h2>


    <div class="flex flex-column align-items">
      <p class="type">Here are a few of the things I have worked on:</p>
      <div class="project self-start">
        <h3><a href="http://nicandcynthia.com" target="_blank">Wedding Website</a></h3>
        <p class="project-type">Website made for my sister's wedding.</p>
      </div>
      <br />
      <div class="project self-start">
        <h3><a href="thecolor.html" target="_blank">The Color</a></h3>
        <p class="project-type">Webpage that changes background color based on what time it is.</p>
      </div>
    </div>
