.container {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding-top: 2em; }

.type {
  line-height: 1.6;
  padding-left: 16px;
  padding-right: 16px; }
  @media screen and (min-width: 768px) {
    .type {
      font-size: 20px; } }

@media screen and (min-width: 768px) {
  .project-description {
    font-size: 20px; } }

.project {
  padding-left: 16px;
  width: 100%;
  position: relative; }

.lh-15 {
  padding-top: 15px; }

.opacity-80 {
  opacity: 0.8; }

.opacity-60 {
  opacity: 0.6; }

h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 6px;
  padding: 0;
  margin: 0;
  line-height: 1; }
  h1 a {
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 90px;
      line-height: 1; } }

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding-top: 0;
  line-height: 0; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 40px; } }

a {
  color: inherit;
  text-decoration: underline; }
  a:visited {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

/*
** Variables for colors, font family, etc. for changing things easily! :)
*/
/* FONT  -- link in application.html.erb head */
/* COLORS */
/*
 *
 * GRADIENTS.CSS
 * v.1.0.0
 * @mrmrs
 *
 * Each color has a class for setting a gradient on
 * text & background
 *
 * - Aqua
 * - Blue
 * - Navy
 * - Teal
 * - Green
 * - Lime
 * - Yellow
 * - Orange
 * - Red
 * - Fuchshia
 * - Purple
 * - Maroon
 *
 */
.bg-aqua-gradient {
  background: #7fdbff;
  background: -webkit-linear-gradient(top, #7fdbff 0%, #528ca3 100%);
  background: linear-gradient(to bottom, #7fdbff 0%, #528ca3 100%); }

.bg-blue-gradient {
  background: #0074d9;
  background: -webkit-linear-gradient(top, #0074d9 0%, #00417a 100%);
  background: linear-gradient(to bottom, #0074d9 0%, #00417a 100%); }

.bg-navy-gradient {
  background: #00203f;
  background: -webkit-linear-gradient(top, #00203f 0%, #000a14 100%);
  background: linear-gradient(to bottom, #00203f 0%, #000a14 100%); }

.bg-teal-gradient {
  background: #39cccc;
  background: -webkit-linear-gradient(top, #39cccc 0%, #227a7a 100%);
  background: linear-gradient(to bottom, #39cccc 0%, #227a7a 100%); }

.bg-green-gradient {
  background: #2ecc40;
  background: -webkit-linear-gradient(top, #2ecc40 0%, #1c7a27 100%);
  background: linear-gradient(to bottom, #2ecc40 0%, #1c7a27 100%); }

.bg-lime-gradient {
  background: #01ff6f;
  background: -webkit-linear-gradient(top, #01ff6f 0%, #02a348 100%);
  background: linear-gradient(to bottom, #01ff6f 0%, #02a348 100%); }

.bg-yellow-gradient {
  background: #ffdd00;
  background: -webkit-linear-gradient(top, #ffdd00 0%, #b89300 100%);
  background: linear-gradient(to bottom, #ffdd00 0%, #b89300 100%); }

.bg-orange-gradient {
  background: #ff851b;
  background: -webkit-linear-gradient(top, #ff851b 0%, #ff501b 100%);
  background: linear-gradient(to bottom, #ff851b 0%, #ff501b 100%); }

.bg-red-gradient {
  background: #f62e24;
  background: -webkit-linear-gradient(top, #f62e24 0%, #ff3679 100%);
  background: linear-gradient(to bottom, #f62e24 0%, #ff3679 100%); }

.bg-fuchsia-gradient {
  background: #f012bc;
  background: -webkit-linear-gradient(top, #f012bc 0%, #a30b80 100%);
  background: linear-gradient(to bottom, #f012bc 0%, #a30b80 100%); }

.bg-purple-gradient {
  background: #b00dc9;
  background: -webkit-linear-gradient(top, #b00dc9 0%, #6b077a 100%);
  background: linear-gradient(to bottom, #b00dc9 0%, #6b077a 100%); }

.bg-maroon-gradient {
  background: #cc1f73;
  background: -webkit-linear-gradient(top, #cc1f73 0%, #85144b 100%);
  background: linear-gradient(to bottom, #cc1f73 0%, #85144b 100%); }

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
html, body {
  margin: 0;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

footer {
  text-align: center;
  font-size: 12px; }

.center {
  text-align: center; }

.hw-100 {
  height: 100vh;
  width: 100%; }

/*# sourceMappingURL=application.css.map */
